.card {
  display: grid;
  flex-direction: column;
  border-radius: 10px;
}

.card__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 220px;
  margin-top: 0;
  margin-bottom: 0;
}

.card__image {
  display: flex;
  width: 282px;
  height: 282px;
}

.card__description-content {
  display: flex;
  background-color: white;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
  line-height: 29px;
}

.card__like-button {
  background: transparent url(../images/Vector\ \(1\).svg) center no-repeat;
  width: 21px;
  height: 18px;
  padding-left: 20px;
  border-style: none;
  grid-template-columns: repeat(auto-fit, 100px);
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 0.5;
  cursor: url(../images/Layer\ 1\ 1.svg);
}