.card {
  display: grid;
  position: relative;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
}

.card__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 220px;
  margin-top: 0;
  margin-bottom: 0;
}

.card__image {
  display: flex;
  width: 282px;
  height: 282px;
}

.card__description-content {
  display: flex;
  background-color: white;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
  line-height: 29px;
}

.card__like-button {
  background: transparent url(../images/inactive.svg) center no-repeat;
  width: 21px;
  height: 18px;
  padding-left: 20px;
  border-style: none;
  grid-template-columns: repeat(auto-fit, 100px);
  cursor: pointer;
  /* smooth transition */
  transition: visibility 0s;
  opacity: 0.6s;
}

.card__like-button:hover {
  opacity: 0.5;
  cursor: url(../images/Layer\ 1\ 1.svg);
}

.card__like-button_active {
  background-image: url(../images/active.svg);
}

.card__delete-button {
  background: transparent url("../images/Trash-can.svg") center no-repeat;
  position: absolute;
  width: 18px;
  height: 20px;
  top: 10px;
  right: 10px;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  border-bottom: hidden;
  visibility: visible;
  /* smooth transition */
  transition: visibility 0s;
  opacity: 0.6s;
}

.card__delete-button:hover {
  cursor: pointer;
}