.card {
  display: grid;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
}

.card__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 220px;
  margin-top: 0;
  margin-bottom: 0;
}

.card__image {
  display: flex;
  width: 282px;
  height: 282px;
}

.card__description-content {
  display: flex;
  background-color: white;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
  line-height: 29px;
}

.card__like-button {
  background: transparent url(../images/inactive.svg) center no-repeat;
  width: 21px;
  height: 18px;
  padding-left: 20px;
  border-style: none;
  grid-template-columns: repeat(auto-fit, 100px);
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 0.5;
  cursor: url(../images/Layer\ 1\ 1.svg);
}

.card__like-button_active {
  background-image: url(../images/active.svg);
}

.card__delete {
  background-image: url("../images/Trash\ can.svg");
  position: absolute;
  width: 18px;
  height: 20px;
  top: 400px;
  left: 500px;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  border-bottom: hidden;
  background-color: transparent;
  display: grid;
  list-style: none;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.card__delete:hover {
  cursor: pointer;
}