.footer {
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}

.footer__copyright {
  font-family: 'Inter', 'Arial', 'Times New Roman';
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 60px;
  margin-top: 67px;
}