.header__image {
  height: 33px;
  padding-top: 45px;
  padding-bottom: 41px;
  color: white;
}

.header {
  margin-top: 45px;
  max-width: 880px;
  border-bottom: 1px solid #545454;
  opacity: 1;
}

@media screen and (max-width: 480px) {
  .header {
    min-height: 85px;
  }

  .header__image {
    padding-top: 28px;
    padding-bottom: 32px;
    margin-left: 27px;
    height: 24px;
  }
}