.header__image {
  height: 33px;
}

.header {
  margin-top: 45px;
  max-width: 880px;
  border-bottom: 1px solid rgba(84, 84, 84);
  padding-bottom: 40px;
  padding-top: 28px;
}

@media screen and (max-width: 480px) {
  .header {
    min-height: 85px;
  }

  .header__image {
    margin-left: 27px;
  }
}