.header__image {
  height: 33px;
}

.header {
  margin-top: 45px;
  max-width: 880px;
  border-bottom: 1px solid rgba(84, 84, 84, 1);
  padding-bottom: 40px;
  padding-top: 45px;
}

@media screen and (min-width: 320px) {
  .header__image {
    margin-right: auto;
  }
}