/* ---- edit and add modals ---- */
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    padding: 0 19px;
    visibility: hidden;
    /* smooth transition */
    transition: visibility 0s 0.6s, opacity 0.6s;
    opacity: 0;
}

/* ---- image preview modal  ---- */
.modal_image-preview {
    visibility: hidden;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 999;
    padding: 0 19px;
}

.modal__heading {
    color: black;
    font-family: 'Inter', Arial, 'Times New Roman';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 34px;
}

.modal__opened {
    visibility: visible;
    transition: ease-in-out 1s;
    opacity: 1;
}


.modal__container {
    position: relative;
    padding: 36px;
    background-color: #ffff;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    visibility: default;
    width: 430px;
}

.modal_image-container {
    margin: auto;
    position: relative;
}


.modal_caption {
    position: absolute;
    bottom: -30px;
    font-family: 'Inter', Arial, 'Times New Roman';
    font-weight: 400;
    font-size: 12px;
    color: rgba(255, 255, 255, 1);
    width: 291px;
    line-height: 14px;

}

.modal__close {
    border: none;
    position: absolute;
    cursor: pointer;
    top: -45px;
    right: -45px;
    background-image: url(../images/Close\ Icon.svg);
    width: 40px;
    height: 40px;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
}

.modal__close:hover {
    opacity: 0.8;
}

.modal_close-button-preview {
    display: flex;
    border: none;
    position: absolute;
    top: -45px;
    right: -45px;
    cursor: pointer;
    background-image: url(../images/Close\ Icon.svg);
    width: 40px;
    height: 40px;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
}


.modal_add_opened {
    visibility: visible;
    /* smooth transition */
    transition: visibility 0s 0.6s;
    opacity: 1s;
    transition-timing-function: ease-in;

}

.modal__input-label {
    font-family: "Inter", Arial, 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.modal__input {
    border-style: solid;
    border-left-style: hidden;
    border-right-style: hidden;
    border-top-style: hidden;
    width: 100%;
    line-height: 17px;
    /* border line */
    display: flex;
    border-width: 1px;
    font-family: 'Inter', Arial, 'Times New Roman';
}


.modal__input-button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.modal__input-button {
    width: 100%;
    font-family: "Inter", Arial, "Times New Roman";
    font-size: 18px;
    line-height: 22px;
    border-radius: 2px;
    height: 50px;
    background-color: black;
    color: white;
    margin-top: 48px;
    border: none;
}

/* modal 2nd card */
.modal__input_type-title {
    border-style: solid;
    border-left-style: hidden;
    border-right-style: hidden;
    border-top-style: hidden;
    width: 100%;
    border-width: 1px;
}

.modal_image {
    max-width: 800px;
}

@media only screen and (max-width: 880px) {

    .modal__container {
        width: 282px;
        margin-top: 123px;
    }

    .modal_image-container {
        display: flex;
        justify-content: center;
        width: 240px;
        height: 299px;
    }

    .modal_caption {
        margin-left: 70px;
    }

    .modal_close {
        height: 26px;
        margin-right: 10%;
        margin-bottom: 13px;
    }

    .modal__input-button {
        margin-right: 22px;
        margin-top: 30px;
        height: 46px;
        border-radius: 2px;
    }

    .modal_close-button-preview {
        width: 30px;
        height: 30px;
        left: 300px;
    }

}