.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    padding: 0 19px;
    visibility: hidden;
}

.modal__heading {
    color: black;
    font-family: 'Inter', Arial, 'Times New Roman';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 34px;
}

.modal_opened {
    visibility: visible;
}

.modal__button:hover {
    display: flex;
    font-family: 'Inter', Arial, 'Times New Roman';
    margin-left: 36px;
    margin-right: 36px;

}

.modal_button:hover {
    cursor: pointer;
}

.modal__container {
    position: relative;
    padding: 36px;
    background-color: #ffff;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    visibility: default;
    width: 330px;
}

.modal__close {
    border: none;
    position: absolute;
    cursor: pointer;
    top: -45px;
    right: -45px;
    background-image: url(../images/Close\ Icon.svg);
    width: 40PX;
    height: 40px;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
}


.modal__form-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
    font-family: "Inter", Arial, 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

}

.modal__form-title {
    width: 100%;
    line-height: 40px;
    border-width: 1px;
    border-style: solid;
    border-left-style: hidden;
    border-right-style: hidden;
    border-top-style: hidden;
    font-family: 'Inter', Arial, 'Times New Roman';
}



.modal__form-description {
    font-family: 'Inter', Arial, 'Times New Roman';
    width: 100%;
    line-height: 17px;
    /* border line */
    display: flex;
    border-style: rgba(0, 0, 0, 0.1);
    border-width: 1px;
    border-style: solid;
    border-left-style: hidden;
    border-right-style: hidden;
    border-top-style: hidden;
    height: 47px;
    color: #000;
}


.modal__form-button:hover {
    cursor: pointer;
    opacity: 0.2;
}

.modal__form-button:hover {
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: "Inter", Arial, "Times New Roman";
    font-size: 18px;
    line-height: 22px;
    border-radius: 2px;
    height: 50px;
    color: #ffffff;
    margin-top: 48px;
}

@media only screen and (max-width: 880px) {

    .modal__container {
        width: 282px;
        margin-top: 123px;
    }

    .modal__form-description {
        font-size: 14px;
    }

    .modal__close {
        height: 26px;
        margin-right: 10%;
        margin-bottom: 13px;
    }

    .modal__input-button {
        height: 46px;
        margin-left: 22px;
        margin-right: 22px;
        border-radius: 2px;
    }

}