@media screen and (max-width:480px) {
    .profile {
        flex-direction: column;
        background-color: pink;
    }
}

.profile {
    display: flex;
    align-items: center;
}

.profile__info {
    display: grid;
    grid-template-areas:
        "title button"
        "description description";
    grid-template-columns: minmax(auto, 373px) auto;
    grid-gap: 9px 17px;
}

.profile__edit-button {
    background: transparent url(../images/Edit\ Button.png) center no-repeat;
    width: 24px;
    height: 24px;
    grid-area: button;
}

.profile__edit-button:hover {
    opacity: 60%;
    cursor: url(../images/Layer\ 1\ 4\ \(1\).png);
}

.profile__add-button {
    background: transparent url(../images/Add\ Button.png) center no-repeat;
    width: 150px;
    height: 50px;
    margin-left: auto;
}

.profile__title {
    font-size: 42px;
    line-height: 48px;
    font-weight: 500;
    grid-area: title;
    margin: 0;
}

.profile__description {
    line-height: 22px;
    font-weight: 400;
    grid-area: description;
    margin: 24px;
    font-size: 18px;
}

.profile__image {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    object-fit: cover;
    background-position: center;
    margin-right: 24px;
}

.profile__info {
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    padding-left: 62px;
    padding-right: 62px;
    justify-content: center;
}

.profile__description {
    width: 100px;
    text-align: center;
}

.profile__add-button {
    margin: 0;
    width: 100px;
}