.profile {
    display: flex;
    align-items: center;
    padding-top: 40px;
    margin-bottom: 36px;
}

.profile__title {
    font-size: 42px;
    line-height: 48px;
    font-weight: 500;
    grid-area: title;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.profile__title-label {
    display: flex;
}

.profile__info {
    display: grid;
    grid-template-areas:
        "title button"
        "description description";
    grid-gap: 9px 17px;
}


.profile__edit-button {
    background: transparent url(../images/pencil.svg) center no-repeat;
    width: 24px;
    height: 24px;
    grid-area: button;
    border: 1px solid rgba(255, 255, 255, 1);
    cursor: pointer;
    background-size: 10px 10px;
    align-self: center;
    padding: 0;
    margin: 0;
    margin-left: 18px;
}

.profile__edit-button:hover {
    opacity: 0.6;
}

.profile__add-button {
    background: transparent url(../images/cross.svg) center no-repeat;
    width: 150px;
    height: 50px;
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 2px;
    cursor: pointer;
    background-size: 22px;
    margin-left: auto;
}

.profile__add-button:hover {
    opacity: 0.6;
}

.profile__description {
    font-size: 18px;
    line-height: 22px;
    grid-area: description;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.profile__image {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    object-fit: cover;
    background-position: center;
    margin: 0 29px 0 0;
}

@media screen and (min-width: 320px) and (max-width: 768px) {

    /*mobile*/
    .profile {
        flex-direction: column;
        margin-bottom: 36px;
    }

    .profile__title {
        font-size: 22px;
        margin-top: 26px;
        margin-left: 18px;
        line-height: 27px;
    }

    .profile__title-label {
        text-align: center;
    }

    .profile__image {
        margin-right: 0;
    }

    .profile__description {
        text-align: center;
        font-size: 14px;
        line-height: 17px;
        margin-top: 14px;
    }

    .profile__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0;
    }

    .profile__edit-button {
        width: 18px;
        height: 18px;
        margin-top: 10%;
    }

    .profile__add-button {
        /*rectangle*/
        width: 282px;
        margin-left: 19px;
        margin-right: 19px;
        margin-top: 36px;
    }

}