@media screen and (max-width:480px) {
    .profile {
        flex-direction: column;
        background-color: black;
    }
}

.profile {
    display: flex;
    align-items: center;
    padding-top: 40px;
}

.profile__title {
    font-size: 42px;
    line-height: 48px;
    font-weight: 500;
    grid-area: title;
    margin: 0;
}

.profile__info {
    display: grid;
    grid-template-areas:
        "title button"
        "description description";
    grid-template-columns: minmax(auto, 373px) auto;
    grid-gap: 9px 17px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}


.profile__edit-button {
    background: transparent url(../images/Edit\ Button.png) center no-repeat;
    width: 24px;
    height: 24px;
    grid-area: button;
    margin-right: auto;
    margin-left: 25px;
    margin-bottom: 25px;
}

.profile__add-button {
    background: transparent url(../images/Add\ Button.png) center no-repeat;
    width: 150px;
    height: 50px;
}

.profile__edit-button:hover {
    cursor: pointer;
    opacity: .7;
}

.profile__add-button:hover {
    cursor: pointer;
    opacity: .7;
}

.profile__description {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    grid-area: description;
    margin: 0;
    width: 100px;
    text-align: center;
    justify-content: flex-end;
    margin-top: 16px;
}

.profile__image {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    object-fit: cover;
    background-position: center;
    margin-right: 24px;
}

.profile__add-button {
    margin: 0;
}